.App {
  text-align: center;
  background-color: #FFFFF0;
}

.Header h1 {
  color: black;
  font-weight: 900;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
  padding: 1rem;
}
